{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div>
		<h2>
			Nos différents cours !
		</h2>
		<div class="container mt-5">
			<div class="row gap-3 d-flex justify-content-center align-items-center">
				{% for theme in themes %}
					<div class="card d-flex justify-content-center align-itemms-center mx-auto" style="width: 20rem; height:20rem; background-color: #f1f8fc; color: #384050;">
						<div class="card-body mt-4">
							<h5 class="card-title text-center primary">{{ theme.name }}</h5>
							{% for cursus in themes.cursuses %}
								<p class="card-body text-center secondary">{{cursus.name}}</p>
								<h6 class="card-body text-center">{{cursus.lessons.name}}</h6>
							{% endfor %}
							<div
								class="d-flex justify-content-center align-items-center">{# <a href="{{ path('lesson', {id: lesson.id}) }}" class="btn btn-primary">Voir</a> #}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

		</div>
	</div>
{% endblock %}
